menu{
    position: -webkit-sticky;
    position: sticky;top: 0;
    z-index: 500;
    background-color: #145F98;
    display: flex;
    padding: 0px;
    margin: 0px;
}
menu ul li {
    float: left;

}
div{    

    display: block;
}
.menu{

    font-size: 16px;
   
}
#menumain{

 width: 100%;   
}
.nav-style{
    padding: 0px;
}
.inner{

    margin-left: auto;
    margin-right: auto; 
    max-width: 1200px;
    position: relative;

}
.fa-home{
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 20px;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 48px;
    float: left;
}
.fa-home:hover{color: #FFC676;}
.nav_content {
 line-height: 48px ;
color:#FFFFFF;
padding-left: 28px;
padding-right: 28px;
margin: 3px 0px 0px ;
border-left: 1px solid #FFFFFF;
} 
.dropdown-menu a{
    display: block;
}
.dropdown-menu a:hover{color: #4681AE;}
#last_li{
    padding: 0px 0px 0px 20px;
}

.nav_content:hover{color: #FFC676; text-decoration: none;}

.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
}
.dropdown-menu {
    margin: 1px ;
    border-top: 2px solid #145F98;
}
.dropdown-menu a{
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-menu {display: block;}
@media (max-width: 768px){
    header{
        display: none;
    }
    .btn-bar{
        color: #145F98;
        font-size: larger;
    }
    .navbar{
        width: 100% !important;
    } 
	#navbarSupportedContent{
		width: 240px ; 
        background-color: #333333 !important;
        position: fixed;
        top: 0;
        left: 0;
    }
    .menu-overlay {
        display: none;
        background-color: #000;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        filter: alpha(opacity=50);
        position: fixed;
        right: 0;
        top: 0;
        z-index: 50;
    }
    #small-logo{
        display: inline !important;
    }
    .nav-style{
        background-color:    #333333 !important;;
    }
    .nav-item{
        border-bottom:1px solid #FFFFFF ;
    }
    .nav_content {
        border: none;
    }

}

