*{margin: 0;padding: 0;}

.form-cv h3{
	color: #009dd6;		
}

.form-cv hr{
	background: #009dd6;
}

.form-cv .alert{
	color: white;
	background: #4cbfe9;
	border-radius: 0px;
}

.form-cv label{
	min-width: 180px;
	font-weight: 500;
}

.form-cv label.contact-data{
	min-width: 360px;
	font-weight: 500;
}

.form-cv label span{
	color: red;
	font-weight: bold;
}

.form-cv input[type="text"],select{
	width: 50%;
	padding: 2px 8px;
	border: 2px solid #009dd6;
}

/*Mobile resposive*/
@media (max-width: 767px) {
	.form-cv h3{
		text-align: center;
	}
	
}