body{
    display: flex;
}
.conten{
    width: 50%;
}
#textarea{
    overflow: scroll;
}
.type1{
    font-size: 16px;
}
.type2{
    font-size: 32px;
    font-style: oblique;
}
.type3{
    font-size: 10;
    font-weight: initial;
}