*{padding: 0;margin: 0;}

.form-login{
	background-color: #f4f4f6;
	padding: 30px 100px;
}

/*Mobile resposive*/
@media (max-width: 767px) {
	.form-login{
		padding: 0;
		background: transparent;
	}
}