*{margin: 0;padding: 0;}

.box{
	border: 1px solid gray;
}

.box .click-here{
	color: blue;
	font-weight: 500;
	background-color: #cecece;
	width: 20%;
	padding: 5px 7px;
}

/*Mobile resposive*/
@media (max-width: 767px) {
	.box{
		text-align: center;
		margin-top: 20px;
		border: none;
	}

	.box .click-here{
		margin: 0 auto;
	}
	
}